<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Collection</title>
</head>
<body>
<%- include('../partials/_navbar.ejs') %>
<h1> Car Collection</h1>

<div>
  <a href="/listings"><button>All</button></a>
  <a href="/listings?status=Available"><button>Available</button></a>
  <a href="/listings?status=Sold"><button>Sold</button></a>
</div>

<% if(user && user.role === 'admin') { %>
<a href="/listings/new"> Add a New Car</a>
<% } %>

<% listings.forEach((listing) => { %>
  <div>Make: <%= listing.make %> - <%= listing.modelyear %> </div>
  <% if (listing.images && listing.images.length > 0) { %>
  <div>
  <h3>Car Images:</h3>
    <% listing.images.forEach((imageName) => { %>
   <img src="/uploads/<%= imageName %>" alt="<%= listing.make %> Image" class="listing-image">
  <% }) %>
</div>
<% } %>

  <a href="/listings/<%= listing._id %>"> View more details</a>
<% }) %>


</body>
</html>