<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= listing.make %></title>

</head>
<body>
<%- include('../partials/_navbar.ejs') %>

<h1><%= listing.make %></h1>


<div>Make: <%= listing.make %></div>
  <div>Model Year: <%= listing.modelyear %></div>
  <div>Specifications: <%= listing.spec %></div>
  <div>Price: <%= listing.price %></div>
  <div>Status: <%= listing.status %></div>
  <div>Notes: <%= listing.notes %></div>

  <% if(user && user.role === 'admin') { %>
<form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
<button type="submit">Delete <%=listing.make %> </button>
<a href="/listings/<%= listing._id %>/edit"> Edit <%=listing.make %></a>
</form>
<% } %>
  
</body>
</html>